
html{
		background-color: white;
    }

body{
		background-color: #ede6e6;
		margin: 0 auto;
		width:960 px;
		font-family: arial, helvetica, sans-serif;
		
	} 
	
header
{
	height:150px;
	padding-top:20px;

}
	
	a{
		text-decoration: none;
		color: #373535;
	}
	
	ul{
		padding:0;
	}
	
	li{
		display:inline;
	    padding:10px;
		font-size:16px;
	}
	
	header li:first-child
	{
		border-right: 1px solid #373535;
	}
	
	#left{
		
		width:320px;
		float:left;
	}
	
	#left ul
	{
		padding-left:30px;
		padding-top:90px;
	}
	
	#right{
		
		width:320px;
		float:right;		
	}
	
	#right ul
	{
		float:right;
		padding-right:30px;
		padding-top:90px;
	}
	
	#logo {
		float:up;
		width:200px;
		margin-left:500px;
			
	}
	
	


#form1{

	
	height:200px;
	width: 280px;
	margin-top: 100px;
	margin-left:450px;
	margin-right:10px;
	margin-bottom:10px;
	font-size:15px;
	font-weight:bold;
	font:"Times New Roman";
	color: black; 
	border-radius:20px;
	text-align:center;
	display: block;
	padding: 30px 20px 10px 20px;
	float:center;
	display:inline-block;

	
	
}

#form2{


	height:200px;
	width: 280px;
	font-size:15px;
	font-weight:bold;
	font:"Times New Roman";
	color: black; 
	border-radius:20px;
	margin-top: 50px;
	margin-left:450px;
	margin-right:10px;
	text-align:center;
	padding:30px 5px 5px 5px;
	display: inline-block;
	float:center;
}

#footer
{
	background-color:#e5e0e0;
	height:100px;
	
}

nav
{
	
	font-size:16px;
	text-align:center;
		padding-top:10px;
	
}

nav li
{
	border-right:1px solid #373535;

}

nav li:last-child
{
	border-right:none;
}


